<!-- app/views/posts/edit.html.erb -->

<div class="cover-edit">
  <div class="container">

    <div class="row">
      <h1 class="font-weight-normal mt-5 mb-5 text-center">
        投稿を編集
      </h1>
    </div>

    <div class="row justify-content-center">
      <%= form_with model: @post, local: true do |f| %>

        <div class="form-group mb-3">
          <label class="form-label">名前</label>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">内容</label>
          <%= f.text_area :body, rows: 10, class: "form-control" %>
        </div>

        <div class="form-group mb-4">
          <label class="form-label">現在の画像</label><br>
          <% if @post.image.attached? %>
            <%= image_tag @post.image.variant(resize_to_limit: [450, 350]) %><br>
          <% end %>

          <label class="form-label mt-3">画像を変更する</label><br>
          <%= f.file_field :image %>
        </div>

        <%= f.submit "保存する", class: "btn btn-success" %><br>

        <%= link_to "投稿詳細ページへ戻る",
            post_path(@post),
            class: "btn btn-dark mt-3" %>

      <% end %>
    </div>

  </div>
</div>
