<h1>今日誰かとマッチしたい</h1>

<%= form_with model: @post, local: true do |f| %>
  <h4>名前</h4>
  <%= f.text_field :title %>
  <h4>内容</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :image %>

  <p></p>
  <%= f.submit '投稿する' %>
<% end %>
