<h2><%= @post.title %></h2>

<p><%= @post.body %></p>

<h2>画像</h2>
<% if @post.image.attached? %>
  <div>
    <%= image_tag @post.image.variant(resize_to_limit: [450, 350]) %>
  </div>
<% end %>

<hr>

<div>
  <%= link_to '編集する', edit_post_path(@post) %><br>
  <%= link_to '削除する',
      post_path(@post),
      data: { turbo_method: :delete, turbo_confirm: "本当に消しますか？" } %><br>
  <%= link_to '投稿一覧ページへ', posts_path %>
</div>
